.container {
    display: flex;
    flex-direction: column;
    height: 200vh;
}

body {
    background-color: #dccaa7;
    margin: 0;
}

.header {
    flex: 1;
    display: flex;
}

.header-container {
    flex: 7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(46, 31, 66);
    border-radius: 40px;
    margin: 20px;
    padding: auto;
}

.header h1 {
    color: #EEEEEE;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 48px;
    margin: 20px;
    margin-bottom: 0px;
    padding: 20px;
    padding-bottom: 10px;
}

.header h2 {
    width: 48%;
    color: #EEEEEE;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 18px;
    margin: 20px;
    margin-top: 0px;
    padding: 20px;
    letter-spacing: 1px;
}

.headshot-container {
    flex: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    margin-left: 0px;
}

.headshot-container img {
    width: 100%;
    height: 100%;
    border-radius: 40px;
}

.socials-container {
    width: 50%;
    display: flex;
    margin: 20px;
}

.socials-container button {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 500;
    border-radius: 40px;
    border: none;
    background-color: #DDDDDD;
    margin-left: 20px;
    margin-bottom: 20px;
}

.socials-container button:hover {
    background-color: #EEEEEE;
    cursor: grab;
}

.text-bumper {
    margin: 0px;
    margin-left: 40px;
}

.text-bumper h1 {
    margin: 0px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 32px;
}

.about-me {
    display: flex;
    flex-direction: row;
}

.about-me #personal {
    border-radius: 40px;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    background-color: rgb(68, 129, 144);
}

.about-me #personal h2 {
    margin: 0px;
    padding: 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 20px;
    color: #EEEEEE;
    line-height: 28px;
}

.about-me #wakatime {
    border-radius: 40px;
    flex: 2;
    margin: 20px;
    margin-right: 0px;
    background-color: rgb(86, 116, 145);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wakatime-chart {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me #wakatime figure {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

embed {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.about-me #wakatime h1 {
    margin: 0px;
    padding: 0px;
    padding-top: 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 20px;
    color: #EEEEEE;
    margin: 0px;
}

.projects {
    flex: 4;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border-collapse: collapse;
    margin-top: 20px;
}

.project {
    border-radius: 40px;
    margin: 20px;
    margin-top: 0px;
    flex: 1;
    background-color: #EEEEEE;
    height: 80%;
}

.project-title {
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.project-title h1 {
    font-weight: 600;
    font-size: 20px;
    margin: 20px;
    margin-bottom: 0px;
    color: #EEEEEE;
}

.project-title h2 {
    font-weight: 300;
    font-size: 16px;
    margin: 0px;
    margin-left: 20px;
    padding: 0px;
    color: #DDDDDD;
}

#die-up {
    margin-right: 0px;
    background-position: center;
    background-size: 150%;
    background-image: url("die-up-logo.png");
    background-color: #8f8383;
}

#die-up:hover {
    background-color: #9e9191;
    cursor: grab;

}

#rhythmix {
    margin-right: 0px;
    background-color: #8f8383;
}