.container {
    display: flex;
    flex-direction: column;
    height: 200vh;
}

body {
    background-color: #dccaa7;
    margin: 0;
}

.header {
    flex: 1;
    display: flex;
}

.header-container {
    flex: 7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(46, 31, 66);
    border-radius: 40px;
    margin: 20px;
    padding: auto;
}

.header h1 {
    color: #EEEEEE;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 48px;
    margin: 20px;
    margin-bottom: 0px;
    padding: 20px;
    padding-bottom: 10px;
}

.header h2 {
    width: 50%;
    color: #EEEEEE;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 18px;
    margin: 20px;
    margin-top: 0px;
    padding: 20px;
}

.headshot-container {
    flex: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    margin-left: 0px;
}

.headshot-container img {
    width: 100%;
    height: 100%;
    border-radius: 40px;
}

.socials-container {
    width: 50%;
    display: flex;
    margin: 20px;
}

.socials-container button {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 500;
    border-radius: 40px;
    border: none;
    background-color: #DDDDDD;
    margin-left: 20px;
    margin-bottom: 20px;
}

.socials-container button:hover {
    background-color: #EEEEEE;
    cursor: grab;
}

.text-bumper {
    margin: 0px;
    margin-left: 40px;
}

.text-bumper h1 {
    margin: 0px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 32px;
}

.about-me {
    display: flex;
    flex-direction: row;
    border-radius: 40px;
}

.about-me #personal {
    border-radius: 40px;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    background-color: rgb(36, 77, 87);
}

.about-me #personal h2 {
    margin: 0px;
    padding: 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 20px;
    color: #EEEEEE;
    line-height: 28px;
}

.about-me #wakatime {
    border-radius: 40px;
    flex: 3;

    margin: 20px;
    margin-right: 0px;
    background-color: rgb(45, 75, 105);

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.about-me #wakatime figure {
    margin: 0px;
}

.about-me #wakatime h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 20px;
    color: #EEEEEE;
    margin: 0px;
}

.projects {
    flex: 4;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border-collapse: collapse;
}

.project {
    border-radius: 40px;
    margin: 20px;
    margin-top: 0px;
    flex: 1;
    background-color: #EEEEEE;
    height: 70%;
}

#die-up {
    margin-right: 0px;
    background-position: center;
    background-size: 150%;
    background-image: url("dieup.png");
}

#rhythmix {
    margin-right: 0px;
}