.container {
    display: flex;
    flex-direction: column;
    height: 200vh;
}

body {
    background-color: #dac498;
    margin: 0;
}

.header {
    flex: 1;
    display: flex;
}

.header-container {
    flex: 7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(46, 31, 66);
    border-radius: 30px;
    margin: 20px;
    padding: auto;
}


.header h1 {
    color: #EEEEEE;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 48px;
    margin: 0;
    padding: 20px;
    padding-bottom: 10px;
}

.header h2 {
    width: 50%;
    color: #EEEEEE;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 18px;
    margin: 0;
    padding: 20px;
    padding-top: 10px;
}


.headshot-container {
    flex: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    margin-left: 0px;
}

.projects {
    margin-top: -10px;
    flex: 4;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border-collapse: collapse;
}

.project {
    margin: 20px;
    flex: 1;
    background-color: #EEEEEE;
}

#die-up {
    margin-right: 0px;
    background-image: url("dieup.png");

}

.headshot-container img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.socials-container {
    width: 50%;
    display: flex;
    margin: 10px;
}

.socials-container button {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 500;
    border-radius: 30px;
    border: none;
    background-color: #DDDDDD;
    margin-left: 20px;
    margin-bottom: 20px;
}

.socials-container button:hover {
    background-color: #EEEEEE;
    cursor: grab;
}